<launch>
    <arg name="ns" default=""/>
    <arg name="exec_name" default="cube_pos_pub"/>
    <arg name="soi_method" default="nnmap"/>
    <arg name="modality" default="colorLabHist"/>
    <arg name="threshold" default="0.25"/>

    <!--CAFER-->
    <arg name="cafer_type" default="babbling_wave"/>
    <arg name="managed_uuid" default="none"/>
    <!--/CAFER-->
   
    <rosparam command="load" file="$(find cube_pick_place)/params/global_params.yml"/>
    <!--node name="$(arg exec_name)" pkg="cube_pick_place" type="$(arg exec_name)" ouput="screen" launch-prefix="xterm -e gdb -REMOVEMEFORDEBUG-args"-->
    <node name="$(arg exec_name)" pkg="cube_pick_place" type="$(arg exec_name)" output="screen">


        <rosparam ns="cafer" subst_value="True">
            mgmt: "/management_topic"
            freq: 1.0
            type: "$(arg cafer_type)"
            uuid: "$(arg managed_uuid)"
        </rosparam>
        <rosparam command="load" file="$(find cube_pick_place)/params/experiment_settings.yml" ns="experiment"/>
        <rosparam ns="experiment/soi" subst_value="True">
            load_exp: "/home/mukhtar/ros_home/cafer_db/dream_babbling/babbling/iteration_246"
            threshold: "$(arg threshold)"
            method: "$(arg soi_method)"
            modality: "$(arg modality)"
        </rosparam>
        </node>
</launch>
